services:
  - type: web
    name: student-management-system
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    branch: main
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://student-management-system.onrender.com
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        fromDatabase:
          name: student-db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: student-db
          property: port
      - key: DB_DATABASE
        fromDatabase:
          name: student-db
          property: database
      - key: DB_USERNAME
        fromDatabase:
          name: student-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: student-db
          property: password

databases:
  - name: student-db
    plan: free
